<!DOCTYPE html>
<html>
  <head>
    <title>UGC NET Score Checker</title>
  </head>
  <body>
    <h2>Submit Your Psychology UGC NET Response Link</h2>
    <form method="POST" action="/check">
      <input
        type="text"
        name="ugcnet_url"
        placeholder="something like https://cdn3.digialm.com//per/g28/pub/2083......"
        required
        style="width: 400px"
      />
      <button type="submit">Check Score</button>
    </form>

    <p>
      copy paste the url which comes after clicking 'Answers sheet: <u>View</u>'
    </p>
    <p>
      Sample -
      https://cdn3.digialm.com//per/g28/pub/2083/touchstone/AssessmentQPHTMLMode1//2083O25230/2083O25230S10D5456/17512719246505889/DL01024071_2083O25230S10D5456E1.html#
    </p>
  </body>
</html>
